*{
  font-family: 'Rubik', serif;

}
#settings-container{
  margin-left: 20px;
  margin-top: 15px;
  color: #EEE;
}
#title{
  font-weight: bolder;
  font-size: x-large;
}
#width-setting, #dot-size{
  display: block;
  margin-top: 10px;
}
#trace-type{
  flex-direction: column-reverse;
  margin-top: 10px;
}
#junction-type {
  margin-top: 10px;
  display: flex;
}
#color-picker{
  margin-top: 25px;
}
.mat-radio-button{
  margin:5px;
}
#dot-bool {
  margin-left: 10px;
}
