<div id="settings-container">
  <h2 id="title"> Options - {{currentToolName}} </h2>
  <div>
  <div>
    <div id="width-setting">
      <p> Épaisseur : </p>
      <mat-slider id="width" color="warn"
          thumbLabel 
          [displayWith]="setMax" 
          [tickInterval]='tickInterval'
          [min]="min" 
          [max]="max" 
          [(value)]="toolSize" 
          (change)="setToolSize()"></mat-slider>
    </div>
  </div>
    <div>
    <div id="trace-type">
      <mat-radio-group>
        <mat-radio-button id="border" value="border" color="warn" (change)="setFillMode(0)"> Contour </mat-radio-button> <br>
        <mat-radio-button id="filled" value="filled" color="warn" (change)="setFillMode(1)"> Plein </mat-radio-button> <br>
        <mat-radio-button id="filledContour" value="filledContour" color="warn" (change)="setFillMode(2)"> Plein avec contour </mat-radio-button>
      </mat-radio-group>
    </div>
    </div>
    <div id="junction-settings">
      <div id="junction-type">
        <p> Points de jonction : </p>
        <mat-checkbox id="dot-bool" color="warn"
          [(checked)]="withJunction"
          (change)="setWithJunction()"
        ></mat-checkbox>
      </div>
        <div id="dot-size">
        <p> Taille des points : </p>
        <mat-slider  color="warn"
          thumbLabel 
          [displayWith]="setMax" 
          [tickInterval]="1"
          [min]="1" 
          [max]="100" 
          [(value)]="junctionRadius"
          (change)="setJunctionRadius()"></mat-slider>
      </div>
    </div>
  </div>
  <div id="color-picker"> Color-picker implementation  </div>


<!-- width-setting: [ngStyle]="{'display': this.toolManagerService.activeTool.lineWidth ? 'block' : 'none'}"
trace-type: [ngStyle]="{'display': this.toolManagerService.activeTool.fillMode ? 'block' : 'none'}"
junction-setting: [ngStyle]="{'display': this.toolManagerService.activeTool.junctionRadius ? 'block' : 'none'}" -->