#wrapper {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#saveCompleteHeader {
    display: flex;
    justify-content: center;
}

#completeDiv {
    display: flex;
    justify-content: center;
}

#doneCheckMark {
    height: 200px;
    width: 200px;
    font-size: 200px;
    color: green;
    justify-content: center;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#closebutton {
    font-size: large;
    background-color: coral;
    width: 125px;
}

#closebutton:hover {
    color: black;
    background-color: slategrey;
}
