#wrapper {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#saveTitle{
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: x-large;
    padding-bottom: 25px;
    font-family: Rubik, serif;
}

#saveCompleteHeader {
    display: flex;
    justify-content: center;
}

#completeDiv {
    display: flex;
    justify-content: center;
}

#doneCheckMark {
    height: 200px;
    width: 200px;
    font-size: 200px;
    color: green;
    justify-content: center;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#closebutton {
    font-size: large;
    background-color: coral;
    width: 125px;
}

#closebutton:hover {
    color: black;
    background-color: slategrey;
}

.mat-button{
  font-family: Rubik, serif;
}
