#completeDiv {
    display: flex;
    justify-content: center;
}

#doneCheckMark {
    height: 200px;
    width: 200px;
    font-size: 200px;
    color: green;
    justify-content: center;
}
#exportCompleteHeader,
#buttonDiv {
    display: flex;
    justify-content: center;
}

button {
    align-content: center;
    font-size: large;
    background-color: coral;
    margin: auto;
    width: 210px;
}
