.palette-slider {
    display: flex;
    flex-direction: row;
    height: 135px;
    margin-top: 10px;
}

.final-options {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
}

.color-preview {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding-left: 5px;
}

.color-picker-window {
    background-color: whitesmoke;
    border: 2px solid rgb(68, 68, 68);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.opacity-wrap {
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}

#confirmButton,
#cancelButton {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width: 80px;
    margin-left: 8px;
    background-color: coral;
}

#confirmButton:hover,
#cancelButton:hover {
    color: black;
    background-color: slategrey;
}

#colorPalette {
    margin-left: 10px;
}

#colorSlider {
    margin-right: 10px;
}
