#selectionLayer {
    position: absolute;
    z-index: 12;
    border: 1px dashed #000000;
}

#previewSelectionLayer {
    position: absolute;
    z-index: 13;
    border: 1px dashed #000000;
    background: transparent;
}

#selectionContainer {
    position: relative;
    overflow: hidden;
    height: 800px;
    width: 1000px;
    max-height: 100%;
    background-color: transparent;
}

.resizer {
    position: absolute;
    color: black;
    background-color: black;
    height: 7px;
    width: 7px;
    z-index: 13;
    visibility: hidden;
}

#leftSlider,
#rightSlider {
    cursor: w-resize;
}
#topSlider,
#bottomSlider {
    cursor: n-resize;
}
#bottomLeftSlider,
#topRightSlider {
    cursor: sw-resize;
}
#bottomRightSlider,
#topLeftSlider {
    cursor: se-resize;
}
