#selectionLayer {
    position: absolute;
    z-index: 12;
    border: 1px dashed #000000;
    // TODO:
    // Make background-color transparent, while keeping border only when selection is active.
}

#selectionContainer {
    width: 1200px;
    height: 1000px;
    max-width: 100%;
    background-color: #607d8b;
}
