#selectionLayer {
    position: absolute;
    z-index: 12;
    border: 1px dashed #000000;
    // TODO:
    // Make background-color transparent, while keeping border only when selection is active.
}
