* {
    font-family: 'Rubik', serif;
}

#newTitle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: 22px;
  font-family: Rubik, serif;
  padding-top: 10px;
}

#saveButton,
#newButton {
    align-content: center;
    font-size: large;
    background-color: coral;
    margin-left: 76px;
    margin-bottom: 30px;
    width: 125px;
}

.modal-dialog {
    width: 500px;
    height: 150px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.mat-dialog-title {
    text-align: center;
    font-family: 'Rubik', serif;
}
