#wrapper {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#errorDivHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: x-large;
    padding-bottom: 25px;
    font-family: Rubik, serif;
}

#saveErrorDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#errorDiv {
    display: flex;
    justify-content: center;
}

#errorX {
    height: 200px;
    width: 200px;
    font-size: 200px;
    color: red;
    justify-content: center;
}

#reason {
    color: red;
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-family: Rubik, serif;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Rubik, serif;
}

#closebutton {
    align-content: center;
    font-size: large;
    background-color: coral;
    width: 125px;
    font-family: Rubik, serif;
}

#closebutton:hover {
    color: black;
    background-color: slategrey;
    font-family: Rubik, serif;
}
