.container {
    height: 100%;
    display: flex;
    background-color: #607d8b;
}

#drawing-container {
    overflow: auto;
    flex: 1 1 auto;
    position: relative;
    margin-left: 305px;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

.top-container {
    height: 50px;
    width: 100%;
    margin-left: 60px;
    position: absolute;
}

#canvasTextBox{
  z-index: 1;
  position: absolute;
}
