<div class="container">
    <app-sidebar
        (notifyOnToolSelect)="setTool($event)"
        [currentTool]="currentTool"
        (openExportPopUp)="openExportPopUp()"
        (openNewDrawingPopUp)="openNewDrawingPopUp()"
        (openSavePopUp)="openSavePopUp()"
    ></app-sidebar>
    <div class="drawing-container">
        <app-drawing class="drawing" tabindex="0" [currentTool]="currentTool"></app-drawing>
        <app-resizer></app-resizer>
        <app-selection></app-selection>
        <span #canvasTextBox
            id='canvasTextBox'
            role='textbox'
            contenteditable='true'
            [style.textAlign]='textAlignment'
            [style.fontSize]='fontSize'
            [style.fontFamily]='fontFamily'
            [style.fontStyle]='textItalic'
            [style.fontWeight]='textBold'
            [style.visibility]='visibility'
        > testing </span>
    </div>
</div>
