* {
    font-family: 'Rubik', serif;
}

#settingsContainer {
    color: #eee;
    margin-left: 10px;
}

#title {
    font-weight: bolder;
    font-size: x-large;
}

#widthSetting {
    display: block;
}

.mat-radio-button {
    margin: 5px;
}
