*{
  font-family: 'Rubik', serif;

}

#settingsContainer{
  color: #EEE;
  margin-left: 10px;
}

#title{
  font-weight: bolder;
  font-size: x-large;
}

.mat-radio-button{
  margin:5px;
}

#colorPicker{
  margin-left: -20px;
}
