* {
    font-family: 'Rubik', serif;
}

#settingsContainer {
    color: #eee;
    margin-left: 20px;
}

#title {
    font-weight: bolder;
    font-size: x-large;
}

.mat-radio-button {
    margin: 5px;
}

#colorPicker {
    margin-left: -20px;
}
