<div id="settingsContainer">
  <h2 id="title"> Options aérosol </h2>
  <div>
    <div>
      <div id="numberOfSidesSettings">
        <p> Nombre d'émissions/sec : {{emissionCount}} </p>
        <mat-slider id="emissionNumber" color="warn"
                    thumbLabel
                    [tickInterval]='tickInterval'
                    [min]="minEmission"
                    [max]="maxEmission"
                    [(value)]="emissionCount"
                    (change)="emitEmissionNumber()">
        </mat-slider>
      </div>
      <div id="widthWaterDropSetting">
        <p> Diamètre des gouttelettes : {{waterDropSize}} </p>
        <mat-slider id="widthWaterDrop" color="warn"
                    thumbLabel
                    [tickInterval]='tickInterval'
                    [min]="minWidthWaterDrop"
                    [max]="maxWidthWaterDrop"
                    [(value)]="waterDropSize"
                    (change)="emitWaterDropSize()">
        </mat-slider>
      </div>
      <div id="widthSetting">
        <p> Diamètre du jet : {{toolSize}} </p>
        <mat-slider id="width" color="warn"
                    thumbLabel
                    [tickInterval]='tickInterval'
                    [min]="minWidth"
                    [max]="maxWidth"
                    [(value)]="toolSize"
                    (change)="emitToolSize()">
        </mat-slider>
      </div>
      <div id="colorPicker">
        <app-color-picker></app-color-picker>
      </div>
    </div>
  </div>
</div>
