#wrapper {
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
}

#savingHeader {
    display: flex;
    justify-content: center;
}

#spinner {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 80px;
}
