<div class="modal-dialog">
    <div *ngIf="saveProgress === saveProgressEnum.CHOOSING_SETTING">
        <form>
            <h1>Sauvegarder une image</h1>
            <app-title-input #titleInput (isTitleValidEvent)="verifyTitleValid($event)"></app-title-input>
            <app-tag-input #tagInput (areTagsValidEvent)="verifyTagsValid($event)"></app-tag-input>
        </form>
        <div id="buttonDiv">
            <button mat-button mat-dialog-close id="closebutton">Annuler</button>
            <button mat-button mat-dialog-close #savebutton id="saveButton" [disabled]="!isSavePossible" (click)="saveDrawing()">Confirmer</button>
        </div>
    </div>
    <app-save-saving-page *ngIf="saveProgress === saveProgressEnum.SAVING"></app-save-saving-page>
    <app-save-complete-page [reason]="resultMessage" *ngIf="saveProgress === saveProgressEnum.COMPLETE"></app-save-complete-page>
    <app-save-error-page [reason]="resultMessage" *ngIf="saveProgress === saveProgressEnum.ERROR"></app-save-error-page>
</div>
