<div class="modal-dialog">
    <div *ngIf="saveProgress === saveProgressEnum.CHOOSING_SETTING">
        <form>
            <h1>Sauvegarder une image</h1>
            <mat-form-field appearance="fill">
                <mat-label>Titre</mat-label>
                <input #titleInput matInput />
                <!--mat-error *ngIf="titleInput.value.length === 0"> Titre ne peut être vide</mat-error -->
            </mat-form-field>
            <!--app-tag-manager></app-tag-manager-->
            <mat-form-field appearance="fill">
                <mat-label>Tags</mat-label>
                <input #tagInput matInput />
            </mat-form-field>
            <input type="button" value="Ajouter un tag" (click)="addTag(tagInput.value)" />
            <div class="tagsDiv" *ngFor="let tag of tags">
                <div class="tag">
                    <p class="tagLabel">{{ tag }}</p>
                    <button class="tagDeleteButton" (click)="deleteTag(tag)">
                        <mat-icon [inline]="true">clear</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <input #savebutton type="button" value="Save" (click)="saveDrawing(titleInput.value, tags)" />
    </div>
    <app-saving-page *ngIf="saveProgress === saveProgressEnum.SAVING"></app-saving-page>
    <app-save-complete-page *ngIf="saveProgress === saveProgressEnum.COMPLTETE"></app-save-complete-page>
    <app-save-page-error *ngIf="saveProgress === saveProgressEnum.ERROR"></app-save-page-error>
</div>
