.modal-dialog {
    width: 400px;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.mat-dialog-container {
    overflow-y: hidden !important;
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
}

#saveButton {
    font-size: large;
    background-color: coral;
    width: 125px;
}

#saveButton:hover {
    background-color: slategrey;
}

#saveButton:active {
    background-color: rgb(255, 96, 38);
}

#saveButton:disabled {
    cursor: not-allowed;
    background-color: rgb(255, 167, 136);
}

#closebutton {
    font-size: large;
    background-color: coral;
    width: 125px;
}

#closebutton:hover {
    color: black;
    background-color: slategrey;
}
