.modal-dialog {
    width: 400px;
    height: 400px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.mat-dialog-container {
    overflow-y: hidden !important;
}

#saveButton {
    cursor: pointer;
    border-radius: 3px;
    color: white;
    background-color: rgb(11, 200, 11);
    border: none;
    outline: none;
    padding: 5px;
}

#saveButton:hover {
    background-color: rgb(6, 158, 6);
}

#saveButton:active {
    background-color: rgb(5, 133, 5);
}

#saveButton:disabled {
    cursor: not-allowed;
    background-color: rgb(163, 230, 163);
}
