<div id="settingsContainer">
  <h2 id="title">Options Étampe</h2>
  <div id='imagesContainer'>
    <img #stamp1 class='image' src="assets/stamp_1.svg" alt="Image broken" width='100'  height='100'
         (click)='changeStampSource(1); changeBorderIndicator(1);emitImageSrc()'>
    <img #stamp2 class='image' src="assets/stamp_2.svg" alt="Image broken" width='100'  height='100'
         (click)='changeStampSource(2); changeBorderIndicator(2);emitImageSrc()'>
    <img #stamp3 class='image' src="assets/stamp_3.svg" alt="Image broken" width='100'  height='100'
         (click)='changeStampSource(3); changeBorderIndicator(3);emitImageSrc()'>
    <img #stamp4 class='image' src="assets/stamp_4.svg" alt="Image broken" width='100'  height='100'
         (click)='changeStampSource(4); changeBorderIndicator(4);emitImageSrc()'>
    <img #stamp5 class='image' src="assets/stamp_5.svg" alt="Image broken" width='100'  height='100'
         (click)='changeStampSource(5); changeBorderIndicator(5);emitImageSrc()'>
    <img #stamp6 class='image' src="assets/stamp_6.svg" alt="Image broken" width='100'  height='100'
         (click)='changeStampSource(6); changeBorderIndicator(6);emitImageSrc()'>
  </div>
  <div id="zoomSettings">
    <p> Facteur d'agrandissement : {{ zoomFactor }} </p>
    <mat-slider
      id="zoomValue"
      color="warn"
      thumbLabel
      [tickInterval]="tickInterval"
      [min]="minFactor"
      [max]="maxFactor"
      [(value)]="zoomFactor"
      (change)="emitZoomFactor()"
    >
    </mat-slider>
  </div>

  <div id="rotateSettings">
    <p> Degrés de rotation initial: {{ rotationAngle }} </p>
    <mat-slider
      id="angleValue"
      color="warn"
      thumbLabel
      [tickInterval]="tickInterval"
      [min]="minAngle"
      [max]="maxAngle"
      [(value)]="rotationAngle"
      (change)="emitRotateAngle()"
    > {{ rotationAngle }} degrés
    </mat-slider>
  </div>

</div>

