* {
    font-family: 'Rubik', serif;
}
#settings-container {
    color: #eee;
    margin-left: 10px;
    overflow-x: hidden;
}
#title {
    font-weight: bolder;
    font-size: x-large;
    color: #eee;
    margin-left: 10px;
}
#colorPicker {
    margin-left: -10px;
}
