#settings-container {
    color: #eee;
}

#title {
    font-weight: bolder;
    font-size: x-large;
    color: #eee;
}

#pipettePreview {
    width: 220px;
    height: 220px;
}

#colorPicker {
    margin-left: -10px;
}
