* {
    font-family: 'Rubik', serif;
}

#settingsContainer {
    color: #eee;
    margin-left: 20px;
}

#title {
    font-weight: bolder;
    font-size: x-large;
}

#widthSetting {
    display: block;
}

#toggleVisibility {
    font-family: 'Rubik', serif;
}

#widthLine,
#opacityCount {
    margin-top: -5px;
}
