<div id="canvas-container" #canvasContainer>
    <canvas id="canvas" #baseCanvas [attr.width]="baseWidth" [attr.height]="baseHeight"></canvas>
    <canvas id="previewLayer" #previewCanvas [attr.width]="previewWidth" [attr.height]="previewHeight"></canvas>
    <div
        #sideResizer
        id="sideSlider"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragEnded)="canvasResizerService.expandCanvas($event)"
        (cdkDragMoved)="canvasResizerService.drawPreviewOfNewSize($event)"
        (mousedown)="canvasResizerService.onSideResizerDown()"
    ></div>
    <div
        #cornerResizer
        id="cornerSlider"
        cdkDrag
        (cdkDragEnded)="canvasResizerService.expandCanvas($event)"
        (cdkDragMoved)="canvasResizerService.drawPreviewOfNewSize($event)"
        (mousedown)="canvasResizerService.onCornerResizerDown()"
    ></div>
    <div
        #bottomResizer
        id="bottomSlider"
        cdkDrag
        cdkDragLockAxis="y"
        (cdkDragEnded)="canvasResizerService.expandCanvas($event)"
        (cdkDragMoved)="canvasResizerService.drawPreviewOfNewSize($event)"
        (mousedown)="canvasResizerService.onBottomResizerDown()"
    ></div>
</div>
