* {
    font-family: 'Rubik', serif;
}

#settingsContainer {
    color: #eee;
    margin-left: 10px;
    overflow-x: hidden;
}

#title {
    font-weight: bolder;
    font-size: x-large;
}

#settingsWrapper {
    margin-left: 10px;
}

#widthSetting {
    display: block;
}

#widthLine,
#countSides {
    margin-top: -5px;
}

#drawingStyleOptions {
    flex-direction: column-reverse;
    margin-top: 10px;
}

#color-picker {
    margin-top: 25px;
}

.mat-radio-button {
    margin: 5px;
}

#colorPicker {
    margin-left: -20px;
}
