* {
    font-family: 'Rubik', serif;
}

.modal-dialog {
    width: 500px;
    height: 160px;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}

#discardHeader,
#buttonDiv {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#discardButton,
#cancelButton {
    font-size: large;
    background-color: coral;
    width: 125px;
}

#discardButton:hover,
#cancelButton:hover {
    color: black;
    background-color: slategrey;
}
