<mat-form-field id ="title-field" appearance="fill">
    <mat-label>Titre</mat-label>
    <input #titleInput matInput (input)="validateTitle(titleInput.value)" autocomplete="off" />
</mat-form-field>
<div *ngIf='minLengthDivClass === "Failed"' [className]="minLengthDivClass">{{ minLengthRequirement }}</div>
<div *ngIf='maxLengthDivClass === "Failed"' [className]="maxLengthDivClass">{{ maxLengthRequirement }}</div>
<div *ngIf='noSpecialCharacterDivClass === "Failed"' [className]="noSpecialCharacterDivClass">{{ noSpecialCharacterRequirement }}</div>
