<div id="inputDiv">
    <mat-form-field appearance="fill" id="tagFormField">
        <mat-label>Tags</mat-label>
        <input #tagInput matInput (focusout)="resetRequirementsOnFocusOut(tagInput.value)" (input)="validateTag(tagInput.value)" />
    </mat-form-field>
    <button mat-button id="addTagButton" [disabled]="!isSavePossible" (click)="addTag(tagInput.value)">Ajouter un tag</button>
</div>
<div>
    <div #distinctTagsDiv [className]="distinctTagsDivClass">{{ distinctTagsRequirement }}</div>
    <div #minLengthDiv [className]="minLengthDivClass">{{ minLengthRequirement }}</div>
    <div #maxLengthDiv [className]="maxLengthDivClass">{{ maxLengthRequirement }}</div>
    <div #noSpecialCharacterDiv [className]="noSpecialCharacterDivClass">{{ noSpecialCharacterRequirement }}</div>
    <div #maxTagsCountDiv [className]="maxTagsCountDivClass">{{ maxTagsCountRequirement }}</div>
</div>
<div class="tagDiv">
    <div class="tag" *ngFor="let tag of tags">
        <p class="tagLabel">{{ tag }}</p>
        <button class="tagDeleteButton" (click)="deleteTag(tag)">
            <mat-icon [inline]="true">clear</mat-icon>
        </button>
    </div>
</div>
