.Satisfied {
    font-weight: bold;
    color: green;
}

.Failed {
    font-weight: bold;
    color: red;
}

.tagDiv {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.tag {
    background: rgb(224, 224, 224);
    padding: 5px;
    margin-bottom: 5px;
}

.tagLabel {
    float: left;
    padding-right: 15px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

.tagDeleteButton {
    margin-top: 3px;
    float: right;
    width: 13.34px;
    height: 13.14px;
    padding: 0px 0px 0px 0px;
}

.icon {
    font-size: 3px;
}

button {
    background-color: inherit;
    border: none;
    outline: none;
}

button:hover {
    background: rgb(182, 178, 178);
}
