div {
    font-size: 14px;
}
.Satisfied {
    color: green;
}

.Failed {
    font-weight: bold;
    color: red;
}

.Unrequested {
    color: black;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#tagFormField {
    padding-top: 15px;
    width: 190px;
}

.tagDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.tag {
    padding: 5px;
    margin: 5px;
    background-color: #79bed9;
}

.tagLabel {
    float: left;
    padding-right: 15px;
    padding-bottom: 0;
    margin: 0 0 0 0;
}

.tagDeleteButton {
    margin-top: 3px;
    float: right;
    width: 13.34px;
    height: 13.14px;
    padding: 0 0 0 0;
}

.icon {
    font-size: 3px;
}

.tagDeleteButton {
    background-color: inherit;
    border: none;
    outline: none;
}

.tagDeleteButton:hover {
    background: rgb(182, 178, 178);
}

#addTagButton {
    font-size: large;
    background-color: coral;
    width: 150px;
    align-self: center;
    margin: 10px;
}

#addTagButton:hover {
    color: beige;
    background-color: #0c3164;
}

#addTagButton:active {
    background-color: coral;
}

#addTagButton:disabled {
    cursor: not-allowed;
    background-color: rgb(255, 167, 136);
}
