div {
    font-size: 12px;
}
.Satisfied {
    color: green;
}

.Failed {
    font-weight: bold;
    color: red;
}

.tagDiv {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.tag {
    background: rgb(224, 224, 224);
    padding: 5px;
    margin-bottom: 5px;
}

.tagLabel {
    float: left;
    padding-right: 15px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
}

.tagDeleteButton {
    margin-top: 3px;
    float: right;
    width: 13.34px;
    height: 13.14px;
    padding: 0px 0px 0px 0px;
}

.icon {
    font-size: 3px;
}

.tagDeleteButton {
    background-color: inherit;
    border: none;
    outline: none;
}

.tagDeleteButton:hover {
    background: rgb(182, 178, 178);
}

#addTagButton {
    border-radius: 3px;
    margin-left: 5px;
    text-align: center;
    font-size: large;
    background-color: coral;
    width: 150px;
}

#addTagButton:hover {
    background-color: slategrey;
}

#addTagButton:active {
    background-color: rgb(255, 96, 38);
}

#addTagButton:disabled {
    cursor: not-allowed;
    background-color: rgb(255, 167, 136);
}
