<div id="inputDiv">
    <mat-form-field appearance="fill" id="tagFormField">
        <mat-label>Tags</mat-label>
        <input #tagInput matInput (focusout)="resetRequirementsOnFocusOut(tagInput.value)" (input)="validateTag(tagInput.value)" />
    </mat-form-field>
    <button mat-button id="addTagButton" [disabled]="!isSavePossible" (click)="addTag(tagInput.value)">Ajouter un tag</button>
</div>
<div>
    <div #distinctTagsDiv [className]="distinctTagsDivClass">{{ distinctTagsRequirement }}</div>
    <div #minLengthDiv [className]="minLengthDivClass">{{ minLengthRequirement }}</div>
    <div #maxLengthDiv [className]="maxLengthDivClass">{{ maxLengthRequirement }}</div>
    <div #noSpecialCharacterDiv [className]="noSpecialCharacterDivClass">{{ noSpecialCharacterRequirement }}</div>
    <div #maxTagsCountDiv [className]="maxTagsCountDivClass">{{ maxTagsCountRequirement }}</div>
</div>
<mat-chip-list class="tagDiv">
    <mat-chip class="tag" *ngFor="let tag of tags" (removed)="deleteTag(tag)">
        {{ tag }} <mat-icon matChipRemove >cancel</mat-icon>
    </mat-chip>
</mat-chip-list>
