* {
    font-family: 'Rubik', serif;
}
#settings-container {
    color: #eee;
    margin-left: 20px;
    overflow-x: hidden;
}
#title {
    font-weight: bolder;
    font-size: x-large;
}
#width-setting {
    display: block;
    margin-top: 10px;
}

.mat-radio-button {
    margin: 5px;
}

#colorPicker {
    margin-left: -20px;
}
