* {
    font-family: 'Rubik', serif;
}
#settings-container {
    color: #eee;
    margin-left: 10px;
}
#title {
    font-weight: bolder;
    font-size: x-large;
}
#width-setting {
    display: block;
    margin-top: 10px;
}

#trace-type {
    flex-direction: column-reverse;
    margin-top: 10px;
}
#color-picker {
    margin-top: 25px;
}
.mat-radio-button {
    margin: 5px;
}
#colorPicker {
    margin-left: -20px;
}
