* {
    font-family: 'Rubik', serif;
}
#title {
    font-weight: bolder;
    font-size: x-large;
}
#settings-container {
    color: #eee;
    margin-left: 20px;
}
#colorPicker {
    margin-left: -20px;
}
