<div class="container">
    <h1 id="main-title" class="header-item">PolyPaint {{ title }}</h1>

    <div id="main-buttons">
        <button id="creation-button" mat-raised-button routerLink="/editor">Créer un nouveau dessin</button>
        <button id="carousel-button" mat-raised-button (click)="openCarousel()">Ouvrir le carrousel de dessins</button>
        <button id="oldDrawing-button" mat-raised-button *ngIf="oldDrawingTrue">Continuer un dessin</button>
        <ng-template #oldDrawingFalse>
            <button mat-flat-button [disabled]="drawingExists">Continuer un dessin</button>
        </ng-template>
    </div>

    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>Nathan Ramsay-Vejlens, Danny Tran, Maxime Cote-Lapointe, Hee-Min Yang, Agnès Sam Yue Chi, Jefferson Lam</p>
    </div>
</div>
