<div class="container">
    <h1 id="main-title" class="header-item">PolyPaint {{ title }}</h1>

    <div id="main-buttons">
        <button id="creation-button" mat-raised-button (click)="newDrawing()">Créer un nouveau dessin</button>
        <button id="carousel-button" mat-raised-button (click)="popupManager.openCarrouselPopUp()">Ouvrir le carrousel de dessins</button>
        <button id="continue-button" mat-raised-button (click)="continueDrawing()" *ngIf="ongoingDrawing">Continuer un dessin</button>
    </div>

    <div class="footer-item">
        <div class="team-name">Équipe Poly</div>
        <a href="https://www.linkedin.com/in/nathan-ramsay-vejlens-155142149/" display="inline" target="_blank">Nathan Ramsay-Vejlens, </a>
        <a href="https://www.linkedin.com/in/danny-tran-473371173/" display="inline" target="_blank">Danny Tran, </a>
        <a href="https://www.linkedin.com/in/maxime-cl/" display="inline" target="_blank">Maxime Cote-Lapointe, </a>
        <a href="https://www.linkedin.com/in/1heemin/" display="inline" target="_blank">Hee-Min Yang, </a>
        <a href="https://www.linkedin.com/in/agnes-sam-yue-chi/" display="inline" target="_blank">Agnès Sam Yue Chi, </a>
        <a href="https://www.linkedin.com/in/jeffersonlam0/" display="inline" target="_blank">Jefferson Lam</a>
    </div>
</div>
