p {
    color: red;
}

#input-boxes{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  justify-content: center;
  margin-left: 10px;
}

.colorInput{
  margin-top: 10px;
  color: black;
}
