.container {
    min-height: 98vh;
    padding: 0 5px 0 5px;
    background-color: #5f9ea0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 45px;
    height: calc(100vh - 0px);
    z-index: 1000;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

mat-icon {
    position: center;
    margin-left: 7px;
    margin-top: 2px;
}

.tools-sidebar {
    margin: 0 0 0 -2px;
    list-style-type: none;
    padding: 0;
    width: 60px;
    position: absolute;
    top: 480px;
}
.tools-sidebar li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    margin: 5px 16px 4px 6px;
    padding-top: 3px;
    border-radius: 4px;
}
.tools-sidebar li:hover {
    color: #607d8b;
    background-color: #ddd;
    left: 0.1em;
}

.tools-sidebar li:active {
    background-color: #4682b4;
    color: #ddd;
}

.selected {
    background-color: #4682b4;
    color: red;
}
.options-sidebar {
    margin: 0 0 0 -2px;
    list-style-type: none;
    padding: 0;
    width: 60px;
    position: absolute;
}
.options-sidebar li {
    color: white;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #ff7f50;
    margin: 5px 16px 4px 6px;
    padding-top: 3px;
    border-radius: 4px;
}
.options-sidebar li:hover {
    color: #607d8b;
    background-color: #ddd;
    left: 0.1em;
}
.tools-option-container {
    position: absolute;
    margin-left: 50px;
    height: 100%;
    overflow: visible;
    -webkit-transition: all;
    z-index: 2;
}

.mat-drawer-inner-container {
    width: 100%;
    overflow-y: hidden;
}

mat-drawer {
    background-color: #4682b4;
    width: 250px;
    overflow-y: hidden;
}
mat-drawer-content {
    margin: 0 !important;
    overflow-y: hidden;
}
.tools:focus {
    background-color: red;
}
.sidebar-tool-options {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 300px;
    overflow-y: hidden;
}

#optionsTitle {
    text-align: center;
    font-size: medium;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Rubik', serif;
    overflow: hidden;
}

#sidebar {
    z-index: 3;
}

.tools-option-container {
    display: flex;
    position: relative;
}

.options-sidebar .unclickable {
    pointer-events: none;
    background-color: gray;
}
