<div class="container">
    <div id="sidebar">
        <ul class="options-sidebar">
            <li>
                <mat-icon id="return-button" matTooltip="Retour" [matTooltipPosition]="'right'" routerLink="/home">backspace</mat-icon>
            </li>
            <li>
                <mat-icon id="new-drawing-button" matTooltip="Nouveau dessin" [matTooltipPosition]="'right'" (click)="openNewDrawing()"
                    >add_box</mat-icon
                >
            </li>
            <li>
                <mat-icon id="save-drawing-button" matTooltip="Sauvegarder" [matTooltipPosition]="'right'" (click)="saveDrawing()">save_alt</mat-icon>
            </li>
            <li id="undoButton" [class.unclickable]="!isUndoPossible" (click)="undo()">
                <mat-icon matTooltip="Annuler" [matTooltipPosition]="'right'">undo</mat-icon>
            </li>
            <li id="redoButton" [class.unclickable]="!isRedoPossible" (click)="redo()">
                <mat-icon matTooltip="Recommencer" [matTooltipPosition]="'right'">redo</mat-icon>
            </li>
            <li id="exportButton">
                <mat-icon id="export-drawing-button" matTooltip="Exporter dessin" [matTooltipPosition]="'right'" (click)="exportDrawing()"
                    >open_in_new</mat-icon
                >
            </li>
            <li id="selectAllButton">
                <mat-icon matTooltip="Tout selectionner" [matTooltipPosition]="'right'" (click)="selectAll()"> aspect_ratio </mat-icon>
            </li>
        </ul>
        <ul class="tools-sidebar">
            <li id="toolId" [class.selected]="tool === selectedTool" *ngFor="let tool of sidebarToolButtons" class="listToolsClass">
                <mat-icon
                    class="toolClass"
                    id="icon-button-{{ tool.name }}"
                    matTooltip="{{ tool.name }} {{ tool.helpShortcut }}"
                    [matTooltipPosition]="'right'"
                    (click)="onSelectTool(tool)"
                >
                    {{ tool.icon }}
                </mat-icon>
            </li>
        </ul>
    </div>
    <!-- Ici on rentres dans l'interface des options des outils -->
    <mat-drawer-container class="tools-option-container">
        <mat-drawer [mode]="'side'" class="sidenav" [opened]="true">
            <mat-drawer-content [ngSwitch]="selectedTool.keyShortcut">
                <app-sidebar-pencil class="sidebar-tool-options" *ngSwitchCase="'c'"> </app-sidebar-pencil>
                <app-sidebar-eraser class="sidebar-tool-options" *ngSwitchCase="'e'"></app-sidebar-eraser>
                <app-sidebar-rectangle class="sidebar-tool-options" *ngSwitchCase="'1'"></app-sidebar-rectangle>
                <app-sidebar-ellipse class="sidebar-tool-options" *ngSwitchCase="'2'"></app-sidebar-ellipse>
                <app-sidebar-line class="sidebar-tool-options" *ngSwitchCase="'l'"></app-sidebar-line>
                <app-sidebar-polygone class="sidebar-tool-options" *ngSwitchCase="'3'"></app-sidebar-polygone>
                <app-sidebar-aerosol class="sidebar-tool-options" *ngSwitchCase="'a'"></app-sidebar-aerosol>
                <app-sidebar-pipette class="sidebar-tool-options" *ngSwitchCase="'i'"></app-sidebar-pipette>
                <app-sidebar-rectangle-selection class="sidebar-tool-options" *ngSwitchCase="'r'"> </app-sidebar-rectangle-selection>
                <app-sidebar-ellipse-selection class="sidebar-tool-options" *ngSwitchCase="'s'"> </app-sidebar-ellipse-selection>
                <app-sidebar-text class="sidebar-tool-options" *ngSwitchCase="'t'"> </app-sidebar-text>
            </mat-drawer-content>
        </mat-drawer>
    </mat-drawer-container>
</div>
