<div id="settings-container">
  <h2 id="title"> Options de l'efface </h2>
  <div>
    <div>
      <div id="width-setting">
        <p> Épaisseur : </p>
        <mat-slider id="width" color="warn"
                    thumbLabel
                    [displayWith]="setMax"
                    [tickInterval]='tickInterval'
                    [min]="min"
                    [max]="max"
                    [(value)]="toolSize"
                    (change)="emitToolSize()">
        </mat-slider>
      </div>
      <div id="colorPicker">
        <app-color-picker></app-color-picker>
      </div>
    </div>
  </div>
</div>
