*{
  font-family: 'Rubik', serif;

}
#settings-container{
  color: #EEE;
  margin-left: 10px;
}
#title{
  font-weight: bolder;
  font-size: x-large;
}
#width-setting{
  display: block;
  margin-top: 10px;
}
#colorPicker{
  margin-left: -20px;
}
