* {
    font-family: 'Rubik', serif;
}

#exportCanvasContainer {
    max-width: 830px;
    max-height: 560px;
}

#exportCanvas {
    position: relative;
    display: none;
}

#formWrapper {
    margin-top: 20px;
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#saveButton,
#cancelButton,
#imgurButton {
    align-content: center;
    font-size: large;
    background-color: coral;
    width: 125px;
    margin: 10px;
}

#saveButton:hover,
#cancelButton:hover,
#imgurButton:hover {
    color: black;
    background-color: slategrey;
}

.modal-dialog {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.mat-dialog-title {
    text-align: center;
}

img {
    border: 1px solid black;
}
