* {
    font-family: 'Rubik', serif;
}

#exportCanvasContainer {
    max-width: 830px;
    max-height: 560px;
}

#exportCanvas {
    position: relative;
    display: none;
}

#saveButton,
#cancelButton {
    align-content: center;
    font-size: large;
    background-color: coral;
    margin: auto;
    width: 210px;
}

#imgurButton {
    align-content: center;
    font-size: large;
    color: #1cb76d;
    background-color: #34373c;
    margin: auto;
    width: 210px;
}

.modal-dialog {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.mat-dialog-title {
    text-align: center;
    font-family: 'Rubik', serif;
}
