<div class="modal-dialog" (keydown)="$event.stopPropagation()">

    <div id = 'topBar'><h1 mat-dialog-title id='titleTopBar'>Carrousel</h1>
      <mat-form-field class='tagsList'>
        <mat-label id='filterTag'> Filtrage par étiquette </mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let tag of tagValue"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeTag(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Add new tag..."
            #tagInput
            [formControl]="tagCtrl"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>

    <div mat-dialog-content id='galleryPreview'>
      <app-carousel-gallery></app-carousel-gallery>
    </div>
    <div mat-dialog-actions>
      <button mat-button id="deleteButton">Supprimer</button>
      <button mat-button mat-dialog-close id="exitButton">Retour</button>
    </div>
</div>
