* {
  font-family: 'Rubik', serif;
}

.modal-dialog {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  height: 100%;
}

#galleryPreview{
  height:100%;
  overflow: hidden;

}

#exitButton {
  background-color:#F88B86;
  margin-left: auto;
  text-align: center;
  bottom:0;
  color: white;
}

#deleteButton {
  background-color: #6C5B7B;
  color: white;
  text-align: center;
  bottom:0;
}

#deleteButton:hover, #exitButton:hover{
  color: black;
  background-color: slategrey;
}
#topBar {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
