.modal-dialog {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100%;
}

#galleryPreview {
    height: 100%;
    overflow: hidden;
}

#deleteButton {
    background-color: #6c5b7b;
    color: white;
    text-align: center;
    font-family: 'Rubik', serif;
    z-index: 100;
}

#exitButton {
    background-color: #f88b86;
    margin-left: auto;
    text-align: center;
    bottom: 0;
    color: white;
    font-family: 'Rubik', serif;
}

#exitButton:hover,
#deleteButton:hover {
    color: black;
    background-color: slategrey;
}

#acceptTag {
    background-color: #f88b86;
    margin-left: auto;
    text-align: center;
    right: 10px;
    top: 10px;
    color: white;
    font-family: 'Rubik', serif;
    height: 50%;
}

#topBar {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

#titleTopBar {
    font-family: 'Rubik', serif;
    font-size: 50px;
    margin-top: 9px;
}

#tagGallery {
    margin-left: 20px;
}

#tagButton {
    color: white;
    background-color: #355c7d;
    height: auto;
    text-align: center;
    top: 10px;
}

.tagsList {
    width: 70%;
}

.slideRight,
.slideLeft {
    color: #e8e8e8;
    margin-top: 200px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    z-index: 3;
    user-select: none;
}

.slideRight:hover,
.slideLeft:hover {
    cursor: pointer;
}

.slideRight:active,
.slideLeft:active {
    color: #000220;
}

#galleryContainer {
    background-color: #355c7d;
    border: 1px solid lightgrey;
    height: 100%;
}

#previewGalleryImage {
    height: 420px;
    width: 92%;
    position: relative;
    outline-color: #000220;
    border-top-color: #000220;
    border: 4px #000220;
}

#galleryShowcase {
    display: flex;
}

h3 {
    font-family: 'Rubik', serif;
}

#tagGallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: white;
    bottom: 0;
    margin-top: 5px;
}

#tagButton {
    background-color: #f88b86;
    text-align: center;
    bottom: 0;
    color: white;
    font-family: 'Rubik', serif;
    height: 27px;
}

#tagValidation,
#deleteValidation,
#drawingValidation {
    color: red;
}

.drawingImage {
    width: 100%;
    height: 100%;
}

.drawingTitle {
    margin-top: 5%;
    align-content: center;
    text-align: center;
    color: white;
    font-family: 'Rubik', serif;
    font-size: large;
    margin-bottom: 10px;
}

.gridContainer {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    gap: 5px;
    justify-items: center;
    align-items: center;
    border: 5px black;
    // background-color: #6c5b7b;
}

.gridContainerSpinner {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.gridItems:nth-child(2) {
    border: 2px dashed red;
}

grid-item:nth-child(2) {
    border: 2px dashed red;
}

#spinnerAnimation {
    margin-top: 75px;
}
