* {
    font-family: 'Rubik', serif;
}

#title {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 10px;
}

#settings-container {
    color: #eee;
    margin-left: 10px;
    overflow-x: hidden;
}

#colorPicker {
    margin-left: -10px;
}
